.top {
    position: relative;
    width: 100%;
    height: 8vh;
    background-size: auto 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: #e5c68a;
    font-size: 6vw;
    font-weight: 500;
}
.top .return {
    position: absolute;
    left: 0;
    top: 0;
    width: 18.18vh;
    height: 100%;
    background-size: 100% 100%;
}
.userList{
     margin-top: 1vw !important;
 }
 .groupMenuDetail{
    margin-top: 1vw !important;
 }
 .gameMenu{
     margin-top: 5vw !important;
 }

 .main{
      background:none !important;
  }
 .gerenzx-top-zt{
 }
 .sendRedpackage{
 }
 .userList{
 }
 .gameMenu{
    background-color: #291c4d !important;
 }
 .gameScoreTitle{
 }
 .gerenzx-fksl{
    background-color: #291c4d !important;
 }
 #moretext{
    background-color: #291c4d !important;
    opacity: 0.85;
 }
 .groupMenuDetail{
 }
 .jiurenyaoqinghan{
    position: absolute;
    width: 50% !important;
    height: 27.5vw;
    text-align: center;
    color: white;
 }
 .jiurenchengyuan{
    position: absolute;
    left: 50% !important;
    width: 50% !important;
    height: 27.5vw;
    text-align: center;
    color: white;
 }
 .jiuren-fuzhu{
    position: absolute;
    top: 7vw;
    left: 50% !important;
    width: 1px;
    height: 13.5vw;
    background-color: rgb(152, 140, 217);
 }
 .sendRedpackage{
        margin-top: 5vw !important;
 }
 .sendRedpackages{
        position: relative;
    width: 100%;
    height: 13.75vw;
    overflow: hidden;
    margin-top: 1vw;
 }

 .gameScoreTitle{
 }
 .gerenzx-fksl{
 }
 #moretext{
    background-color: #291c4d !important;
    opacity: 0.85;
 }
 .groupMenuDetail{
 }
 .jiurenyaoqinghan{
    position: absolute;
    width: 50% !important;
    height: 27.5vw;
    text-align: center;
    color: white;
 }
 .jiurenchengyuan{
    position: absolute;
    left: 50% !important;
    width: 50% !important;
    height: 27.5vw;
    text-align: center;
    color: white;
 }
 .jiuren-fuzhu{
    position: absolute;
    top: 7vw;
    left: 50% !important;
    width: 1px;
    height: 13.5vw;
    background-color: rgb(152, 140, 217);
 }
 .sendRedpackage{
        margin-top: 1vw !important;
 }
 .sendRedpackages{
        position: relative;
    width: 100%;
    height: 13.75vw;
    overflow: hidden;
    margin-top: 1vw;
 }
.jiuren-jifenxq-yh{
    background-color: #291c4d !important;
    opacity: 0.85;
}
.jiuren-zhangchangxq-yhmz{
     background-color: #291c4d !important;
    opacity: 0.85;
}
.jiuren-zhangchangxq-yipai{
    background-color: #291c4d !important;
    opacity: 0.85;
}
 .qun-bg{
    position: relative; width: 100%; height: 18vw; background-color: #291c4d; text-align: center; margin-top: 2px; color: white; overflow: hidden;
 }